@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Press+Start+2P');


body{
    background-color: wheat;
    color: black;
    text-align: justify;
    margin: 50px;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h2{
    font-family: 'Press Start 2P', cursive;
}

p{
    margin: -5px;
    font-family: 'Nanum Gothic Coding', monospace;
}

#datos{
    text-align: right;
    background-image: url("dni adolfo.jpg");
    background-repeat: no-repeat;

}
#formacion{
    text-align: center;
    margin-left: 5%;
}
#complementos{
    text-align: left;
}
strong{
    color: black;

}
address {
    margin-top: 10px;
    height: 30px;
}
