@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Press+Start+2P');


body{
    color: black;
    text-align: justify;
    background-color:indianred;
    max-width:700px;
    text-align: justify;
    margin:auto;
}

h2{
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 2em;
    background-color:rgba(0,0,0,.8);
    padding-bottom: .5em;
    padding-top: .5em;
    margin: 0;
}

p{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    color:black;
    background-color:rgba(255,255,255,.8);
    padding:1em;
    max-width:700px;
    text-align: center;
    margin: 0;
    margin-bottom: 0;

}

strong{
    color: black;
}
address {
    margin-top: 10px;
    height: 30px;
}
a{
    color: crimson;}
img{
    width:50%;
}
header{
    position: center;
}
